asgiref==3.7.2
attrs==23.1.0
autobahn== 23.1.2
Automat==22.10.0
boto3==1.28.58
botocore==1.31.58
cffi==1.15.1
channels==3.0.5
constantly==15.1.0
cryptography==41.0.4
daphne==3.0.2
Django==3.2.21
django-cors-headers==4.1.0
django-filter==23.3
django-storages==1.14.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
gunicorn==21.2.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
inflection==0.5.1
jmespath==1.0.1
packaging==23.2
Pillow==10.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==23.2.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
PyYAML==6.0.1
s3transfer==0.7.0
service-identity==23.1.0
six==1.16.0
sqlparse==0.4.4
Twisted==23.8.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.17
zope.interface==6.0
